@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-bg: #000000;
    --color-text: #ffffff;
    --color-accent: #9b5de5;
    --color-accent-hover: #b97eff;
}

html,
body {
    width: 100%;
    /* overflow-x: hidden; */
    background-color: var(--color-bg);
    scroll-behavior: smooth;
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 100%;
}

@layer components {
    .navbar {
        @apply sticky top-0 w-full py-5 px-4 md:px-20 z-100 transition-all duration-300 ease-in-out;

        .inner-wrapper {
            @apply flex items-center justify-between;
        }

        .logo {
            @apply text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-110;
        }

        nav.desktop-nav {
            @apply hidden lg:flex items-center;

            ul {
                @apply flex space-x-9;

                li {
                    @apply relative;

                    span {
                        @apply transition-colors duration-300 hover:text-text;
                    }

                    .underline {
                        @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
                    }
                }
            }
        }
        .contact-btn {
            @apply flex;

            .btn-container {
                @apply px-4 py-2 rounded-md bg-white text-black group-hover:bg-accent transition-colors duration-300;

                span {
                    @apply group-hover:text-white transition-colors duration-300;
                }
            }
        }
    }

    .hero-layout {
        @apply flex flex-col items-center justify-center gap-6 lg:flex-row xl:mt-0 mx-auto mt-0  md:h-dvh h-[80vh] w-[90%];
    }

    .hero-text {
        @apply flex flex-col justify-center md:text-[50px] text-[26px] font-bold text-center;
    }

    .right-side {
        @apply flex justify-center items-center w-full lg:w-1/2;

        img {
            @apply object-contain w-[80%] md:w-[70%] lg:w-full max-h-[60vh] xl:max-h-[56vh] rounded-2xl shadow-lg;
        }
    }
}
