@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html,
body {
    width: 100vw;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@theme {
    /* Add color variables here */
}

.navbar {
    @apply fixed w-full py-5 px-4 md:px-20 z-100 transition-all duration-300 ease-in-out;

    .inner-wrapper {
        @apply flex items-center justify-between;
    }

    .logo {
        @apply text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-110;
    }

    nav.desktop-nav {
        @apply hidden lg:flex items-center;

        ul {
            @apply flex space-x-9;

            li {
                @apply relative;

                span {
                    @apply transition-colors duration-300 hover:text-white;
                }

                .underline {
                    @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
                }
            }
        }
    }
    .contact-btn {
        @apply flex;

        .btn-container {
            @apply px-4 py-2 rounded-md bg-white text-black group-hover:bg-orange-400 transition-colors duration-300;

            span {
                @apply group-hover:text-white transition-colors duration-300;
            }
        }
    }
}
